<div class="static-top">
  <div class="header">
    <img src="https://drive.google.com/thumbnail?id=1QIp2_KURP7v3i4o6-eda3A-mAJh22CTi&sz=w400" class="logo-img">
    <div class="header-info">
      <div class="version-tag">v1.47</div>
      <div class="copyright-tag">© Sakura Core 2026</div>
    </div>
  </div>
  <div class="user-meta-box">
    <div class="user-line"><b>КОРИСТУВАЧ:</b> <span id="display-user">Завантаження...</span></div>
    <div class="user-line"><b>РОЛЬ:</b> <span id="display-role">...</span></div>
    <div class="user-line" id="pay-row"><b>ОПЛАТА ЧЕРЕЗ:</b> <span id="display-pay">...</span></div>
  </div>
</div>

<div class="menu-scroll-area">
  <div class="acc-item" onclick="toggleAcc(this, 'sub-journal')">ЖУРНАЛ ВИРОБНИЦТВА</div>
  <div id="sub-journal" class="submenu">
    <div class="sub-link" onclick="handleSubClick(this, 'refresh-journal')">Оновити журнал</div>
    <div id="admin-sub-production">
      <div class="sub-link" onclick="handleSubClick(this, 'add-obj')">Додати об'єкт</div>
      <div class="sub-link" onclick="handleSubClick(this, 'edit-obj')">Редагувати об'єкт</div>
      <div class="sub-link" onclick="handleSubClick(this, 'delete-obj')">Видалити об'єкт</div>
      <div class="sub-link" onclick="handleSubClick(this, 'config-journal')">Налаштувати журнал</div>
    </div>
  </div>

  <div class="acc-item" onclick="toggleAcc(this, 'sub-warehouse')">СКЛАД ТА СТАТУСИ</div>
  <div id="sub-warehouse" class="submenu">
    <div class="sub-link" onclick="handleSubClick(this, 'view-stock')">Список залишків</div>
    <div class="sub-link" onclick="handleSubClick(this, 'set-status')">Оновити статус</div>
  </div>

  <div id="acc-admin-main" class="acc-item" style="display:none;" onclick="toggleAcc(this, 'sub-admin')">АДМІНІСТРУВАННЯ</div>
  <div id="sub-admin" class="submenu">
    <div class="sub-link" onclick="handleSubClick(this, 'adm-users')">Користувачі</div>
    <div class="sub-link" onclick="handleSubClick(this, 'adm-logs')">Логи системи</div>
  </div>
</div>

<div class="main-content"><div id="content-container">Оберіть дію в меню.</div></div>
